
<div class="container bg-success">
        <div class="col-lg-12 my-lg-0 my-1">
            <div id="main-content" class="border">
                <div class="d-flex flex-column text-white">
                    <div class="h5">Hello Jhon,</div>
                    <div>Logged in as: someonegmail.com</div>
                </div>
                <div class="d-flex my-4 flex-wrap justify-content-center">
                    <div class="box me-4 my-1 bg-light w-25">
                        <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Total Orders</div>
                            <div class="ms-auto number">{{TotalOrdes}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light w-25">
                        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/illustration-shopping-cart-expense-commerce-27.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Total Products</div>
                            <div class="ms-auto number">{{totalProducts}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light w-25">
                        <img src="https://www.freepnglogos.com/uploads/money-png/money-sack-transparent-pictures-icons-14.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Total Growth</div>
                            <div class="ms-auto number">{{TotalMoney}}$</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light w-25">
                        <img src="https://www.freepnglogos.com/uploads/dollar-sign-png/dollar-sign-index-content-uploads-10.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Profit</div>
                            <div class="ms-auto number">{{totalprofit}}$</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light w-25">
                        <img src="https://cdn-icons-png.freepik.com/256/10098/10098060.png?ga=GA1.1.221699854.1709826346&"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Fees</div>
                            <div class="ms-auto number">{{Fees}}$</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light w-25">
                        <img src="https://www.freepnglogos.com/uploads/dollar-sign-png/dollar-sign-won-and-dollar-signs-comd-19.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Net Profit</div>
                            <div class="ms-auto number">{{netProfit}}$</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="row w-100">
                        <div class="col-6">
                            <h1 class="text-white">Top 5</h1>
                            <div class="bg-light " style="height: 40vh; width: 50vh;">
                                <canvas id="myChart" style="width:300px; height:300px;"></canvas>
                            </div>
                        </div>
                        <div class="col-6 text-white">
                            <div class="mb-2">Choose Month</div>
                            <select  class="mb-3" name="language" id="language" (change)="onMonthSelect($event)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <div class="bg-light text-black w-100" style="height: 40vh; overflow: auto;">
                                <table class="w-100">
                                    <th>Name</th>
                                    <th>Quantity</th>
                                        <tr *ngFor="let item of productsNames; let i = index">
                                            <td>{{item}}</td>
                                            <td>{{productvalues[i]}}</td>
                                        </tr>
                                            
                                
                                </table>
                            </div>
                       
                        </div>
                    </div>
            </div>
            <div class="row m-3">
                <div class="btn btn-dark col-4 dbtn"  id="addbtn">Add Product</div>
                <div class="btn btn-dark col-4 dbtn" id="deletebtn">Delete Product</div>
                <div class="btn btn-dark col-4 dbtn" (click)="openPage('feedback')" id="FeedBacks">FeedBacks</div>
            </div>
        </div>
  
        <div class="feedback-list bg-success w-75 md-w-25  justify-content-center align-items-center " id="feedback">
            <div class="row w-100">
                <div class="p-3" *ngFor="let feedbackItem of feedbacks; let i = index">
                   <div class="col-12 bg-light  w-100 rounded-5 p-5">
                    <h3>userID : {{feedbacks[i].userID}}</h3>
                    <h6>Body : {{feedbacks[i].body}}</h6>
                   </div>
                </div>
              <button type="submit"  (click)="closePage('feedback')" class="btn btn-dark text-white mb-3  m-auto  md-w-25 col-12" style="height: 40px;" >Done</button>
            </div>
            </div>

</div>