<div class="d-flex justify-content-center mt-5 gap-5 products mb-5">
    <div class="row mx-5">
        @for(p of products; track p)
        {
        <div class="col col-sm-6 col-md-3 col-6">
            <div class="text-center fs-4 mb-5">
                <a href="/shop/{{p.name}}" class="nav-link">
                    <img src={{p.images[0]}} class="prd-img">
                    <p class="roboto-light mt-3">{{p.name}}</p>
                    <p class="roboto-light">from {{p.price | currency:'EGP'}}</p>
                </a>
            </div>
        </div>
        }
    </div>
</div>
