<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<div id="ex" class="justify-content-center d-flex">
    <header class="navbar navbar-expand-lg header w-100 row">       
<!-- mmm -->
<nav class="navbar navbar-expand-lg justify-content-center ">
    <div class="container-fluid text-white">
        <a routerLink="/" class="navbar-brand">
            PLANTO
            <img src="../../../assets/plant-svgrepo-com.svg" alt="Your SVG Image" class="icon ml-2">
        </a>
        <form class="search-form search">
            <input type="text" required="" placeholder="Search....">
            <button type="submit"><i class="searchbtn fas fa-search"></i></button>
        </form>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                @if(isRegistered)
                {
                    <li class="nav-item m-auto">
                        <a routerLink="/shop" class="menu__link">Shop</a>
                    </li>
                    @if(isAdmin != "true")
                    {
                    <li class="nav-item m-auto">
                        <a routerLink="/contact" class="menu__link">Contact</a>
                    </li>
                    }
                    @if(isAdmin == "true")
                    {
                        <li class="nav-item m-auto">
                            <a routerLink="/feedbacks" class="menu__link">Feedbacks</a>
                        </li>
                        <li class="nav-item  m-auto">
                            <a routerLink="/dashboard" class="menu__link">DashBoard</a>
                        </li>
                    }
                }
            </ul>
            @if(!isRegistered)
        {
        <div class="ml-auto login-button">
            <button class="new" (click)="toggleLoginForm()">
                <span class="text">Login</span>
                <span class="icon" style="font-size: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                    </svg>
                </span>
            </button>
        </div>
        }
        @else{
            <div class="ml-auto">
                <div class="child child-2  m-auto">
                    <button class="button btn-2" (click)="goToFavourites()">
                        <svg xmlns="http://www.w3.org/2000/svg" color="white" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                    </button>
                </div>
            </div>
        <div class="ml-auto">
            <div class="child child-1 m-auto">
                <button class="button btn-1" (click)="goToCart()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cart"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="ml-auto">
            <div class="child child-2  m-auto">
                <button class="button btn-2" (click)="GoToProfile()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </button>
            </div>
        </div>
            <div class="ml-auto">
                <button class="new login-button m-auto" (click)="Logout()">
                    <span class="text">Logout</span>
                    <span class="icon" style="font-size: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-unlock-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2" />
                        </svg>
                    </span>
                </button>
            </div>
        }
        @if(loginFormVisible)
        {
        <app-login (closeForm)="toggleLoginForm()"></app-login>
        }
        </div>
    </div>
  </nav>
<!-- mmmmm -->
        
    </header>
</div>
