<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<div id="ex" class="justify-content-center d-flex">
    <header class="navbar navbar-expand-lg header w-100">
        <a routerLink="/" class="navbar-brand">
            PLANTO
            <img src="../../../assets/plant-svgrepo-com.svg" alt="Your SVG Image" class="icon ml-2">
        </a>
        <form class="search-form">
            <input type="text" required="" placeholder="Search....">
            <button type="submit"><i class="searchbtn fas fa-search"></i></button>
        </form>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a routerLink="/shop" class="menu__link">Shop</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="menu__link">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/dashboard" class="menu__link">DashBoard</a>
                </li>
            </ul>
        </div>
        @if(!isRegistered)
        {
        <div class="ml-auto login-button">
            <button class="new" (click)="toggleLoginForm()">
                <span class="text">Login</span>
                <span class="icon" style="font-size: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                    </svg>
                </span>
            </button>
        </div>
        }
        @else{
        <div class="ml-auto login-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill"
                viewBox="0 0 16 16" (click)="GoToProfile()">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
        </div>
        }
        @if(loginFormVisible)
        {
        <app-login (closeForm)="toggleLoginForm()" (registerEvent)="Register($event)"></app-login>
        }
    </header>
</div>