
    <div class="position-relative">
        <img src="assets/Images/ourStoryBackground.jpg" class="img-fluid w-100" style="height: 60vh;">
        <div class="position-absolute top-50 start-50 translate-middle">
            <p class="text-center text-white font fs-1">Our Story</p>
        </div>
    </div>

<div class="my-5 w-50 text-center m-auto">

    <div class="text-white roboto-light fs-2 mt-4 font m-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab enim veniam, temporibus architecto est quas, animi
        labore beatae dicta perspiciatis culpa numquam odit vero voluptas quos dolores commodi. Corporis, maiores.
    </div>
</div>