.parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
  }

  .form-container{
    position: relative;
    top: 10%;
    background-color: #E1CCBE;
    border-radius: 15px;
    padding: 20px;
    overflow: auto; 
    height: 70%;
  }

  .btnSign{
    color: white;
    background-color: #2F5C2F;
  }

  .basicColor{
    color: #2F5C2F;
  }
  
  .checkColor:checked{
    background-color: #2F5C2F;
  }

  .custom-cursor {
    cursor: pointer;
  }