<div class="w-100 h-100 parent">
<div class="form-container w-50 shadow m-auto">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            @if(registerFormVisible)
            {
            <a class="nav-link text-white fw-bold custom-cursor" id="tab-login" data-mdb-toggle="pill" role="tab"
                aria-controls="pills-login" aria-selected="true" (click)="toggleRegisterForm()">Login</a>
            }
            @else
            {
            <a class="nav-link btnSign  fw-bold custom-cursor" id="tab-login" data-mdb-toggle="pill" role="tab" 
                aria-controls="pills-login" aria-selected="true">Login</a>
            }

        </li>
        <li class="nav-item" role="presentation">
            @if(registerFormVisible)
            {
                <a class="nav-link btnSign fw-bold custom-cursor" id="tab-register" data-mdb-toggle="pill" role="tab"
                aria-controls="pills-register" aria-selected="false">Register</a>
            }
            @else
            {
                <a class="nav-link text-white fw-bold custom-cursor" id="tab-register" data-mdb-toggle="pill" role="tab"
                aria-controls="pills-register" aria-selected="false" (click)="toggleRegisterForm()">Register</a>
            }
        </li>
        <li class="ms-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg text-white"
                viewBox="0 0 16 16" (click)="onCloseForm()">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
            </svg>
        </li>
    </ul>
    @if(registerFormVisible)
    {
    <app-register [close]="closeForm" (onLogin)="ToggleLogin()"></app-register>
    }
    @else
    {
    <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form [formGroup]="loginFormGroup">
                <!-- Email input -->
                <div class="form-outline mb-4 text-white fw-bold">
                    <label class="form-label" for="loginName">Email</label>
                    <input formControlName="email" #email type="email" id="loginName" class="form-control" (click)="resetEmail()"/>
                    <div class="mt-1 fw-normal">
                        <p class="text-danger">{{emailValid}}</p>
                      </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4 text-white fw-bold">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input formControlName="password" #password type="password" id="loginPassword" class="form-control" (click)="resetPassword()"/>
                    <div class="mt-1 fw-normal">
                        <p class="text-danger">{{passwordValid}}</p>
                      </div>
                </div>
                <div class="mt-2 text-center">
                    <p class="text-danger">{{epValid}}</p>
                  </div>
                <div class="text-center">
                    <button type="submit" class="btn btnSign btn-block mb-4" (click)="OnLogin(email.value, password.value)">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    }
</div>
</div>