<div class="w-100 h-100 parent">
<div class="form-container w-50 shadow m-auto">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            @if(registerFormVisible)
            {
            <a class="nav-link text-white fw-bold" id="tab-login" data-mdb-toggle="pill" role="tab"
                aria-controls="pills-login" routerLink="" aria-selected="true" (click)="toggleRegisterForm()">Login</a>
            }
            @else
            {
            <a class="nav-link btnSign  fw-bold" id="tab-login" data-mdb-toggle="pill" role="tab" routerLink=""
                aria-controls="pills-login" aria-selected="true">Login</a>
            }

        </li>
        <li class="nav-item" role="presentation">
            @if(registerFormVisible)
            {
                <a class="nav-link btnSign fw-bold" id="tab-register" data-mdb-toggle="pill" role="tab" routerLink=""
                aria-controls="pills-register" aria-selected="false">Register</a>
            }
            @else
            {
                <a class="nav-link text-white fw-bold" id="tab-register" data-mdb-toggle="pill" role="tab" routerLink=""
                aria-controls="pills-register" aria-selected="false" (click)="toggleRegisterForm()">Register</a>
            }
        </li>
        <li class="ms-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg text-white"
                viewBox="0 0 16 16" (click)="onCloseForm()">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
            </svg>
        </li>
    </ul>
    @if(registerFormVisible)
    {
    <app-register [close]="closeForm" (registerSuccess)="RegisterSuccess($event)"></app-register>
    }
    @else
    {
    <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form [formGroup]="loginFormGroup">
                <div class="text-center mb-3 text-white fw-bold">
                    <p>Sign in with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-facebook basicColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                        </svg>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-google basicColor" viewBox="0 0 16 16">
                            <path
                                d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                        </svg>
                    </button>
                </div>

                <p class="text-center text-white fw-bold">or:</p>

                <!-- Email input -->
                <div class="form-outline mb-4 text-white fw-bold">
                    <label class="form-label" for="loginName">Email</label>
                    <input formControlName="email" #email type="email" id="loginName" class="form-control" (click)="resetEmail()"/>
                    <div class="mt-1 fw-normal">
                        <p class="text-danger">{{emailValid}}</p>
                      </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4 text-white fw-bold">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input formControlName="password" #password type="password" id="loginPassword" class="form-control" (click)="resetPassword()"/>
                    <div class="mt-1 fw-normal">
                        <p class="text-danger">{{passwordValid}}</p>
                      </div>
                </div>
                <div class="mt-2 text-center">
                    <p class="text-danger">{{epValid}}</p>
                  </div>
                <div class="text-center">
                    <button type="submit" class="btn btnSign btn-block mb-4" (click)="OnLogin(email.value, password.value)">Sign in</button>
                </div>

                <div class="text-center">
                    <p class="text-white fw-bold">Not a member? <a href="#!" class="basicColor fw-normal ms-1" (click)="toggleRegisterForm()"> Register</a></p>
                </div>
            </form>
        </div>
    </div>
    }
</div>
</div>