.parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.5s ease forwards;
    backdrop-filter: blur(10px);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .form-container{
    position: relative;
    top: 20%;
    background-color: #E1CCBE;
    border-radius: 15px;
    padding: 20px;
    overflow: auto;
    height: 50%;
    
  }

  .btnSign{
    color: white;
    background-color: #2F5C2F;
  }

  .basicColor{
    color: #2F5C2F;
  }
  
  .checkColor:checked{
    background-color: #2F5C2F;
  }