<div class="w-100 h-100 parent">
    <div class="form-container w-50 shadow m-auto">
        <ul class="nav nav-pills nav-justified mb-3 d-flex justify-content-end" id="ex1" role="tablist">
            <li class="ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-x-lg text-white" viewBox="0 0 16 16" (click)="onCloseForm()">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </li>
        </ul>
        <section class="gradient-custom">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <form [formGroup]="registerFormGroup">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline text-white fw-bold position-relative">
                                        <label class="form-label" for="name">Name</label>
                                        <input formControlName="name" #name type="text" id="name" class="form-control"
                                            (click)="resetName()" />
                                    </div>
                                    @if(!NameValid && name.value)
                                    {
                                    <div class="mt-1">
                                        <p class="text-danger">Name must be only characters</p>
                                    </div>
                                    }
                                    <div class="mt-1">
                                        <p class="text-danger">{{nameValid}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline text-white fw-bold">
                                        <label class="form-label" for="age">Age</label>
                                        <input formControlName="age" #age type="number" id="age" class="form-control"
                                            (click)="resetAge()" />
                                    </div>
                                    <div class="mt-1">
                                        <p class="text-danger">{{ageValid}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline datepicker w-100 text-white fw-bold">
                                        <label for="email" class="form-label">Email</label>
                                        <input formControlName="email" #email type="email" class="form-control"
                                            id="email" (click)="resetEmail()" />
                                    </div>
                                    @if(!EmailValid && email.value)
                                    {
                                    <div class="mt-1">
                                        <p class="text-danger">Invalid Email</p>
                                    </div>
                                    }
                                    <div class="mt-1">
                                        <p class="text-danger">{{emailValid}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline text-white fw-bold">
                                        <label class="form-label" for="phone">Phone Number</label>
                                        <input formControlName="phone" #phone type="tel" id="phone" class="form-control"
                                            (click)="resetPhone()" />
                                    </div>
                                    @if(!PhoneValid && phone.value)
                                    {
                                    <div class="mt-1">
                                        <p class="text-danger">Invalid Phone Number</p>
                                    </div>
                                    }
                                    <div class="mt-1">
                                        <p class="text-danger">{{phoneValid}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline text-white fw-bold">
                                        <label class="form-label" for="emailAddress">Street</label>
                                        <input formControlName="street" #street type="text" id="emailAddress"
                                            class="form-control" (click)="resetStreet()" />
                                    </div>
                                    @if(!StreetValid && street.value)
                                    {
                                    <div class="mt-1">
                                        <p class="text-danger">Street is required</p>
                                    </div>
                                    }
                                    <div class="mt-1">
                                        <p class="text-danger">{{streetValid}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline text-white fw-bold">
                                        <label class="form-label" for="phoneNumber">City</label>
                                        <input formControlName="city" #city type="text" id="phoneNumber"
                                            class="form-control" (click)="resetCity()" />
                                    </div>
                                    @if(!CityValid && city.value)
                                    {
                                    <div class="mt-1">
                                        <p class="text-danger">Name must be only characters</p>
                                    </div>
                                    }
                                    <div class="mt-1">
                                        <p class="text-danger">{{cityValid}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline text-white fw-bold">
                                        <label class="form-label" for="password">Password</label>
                                        <input formControlName="password" #password type="password" id="password"
                                            class="form-control" (click)="resetPassword()" />
                                    </div>
                                    @if(!PasswordValid && password.value)
                                    {
                                    <div class="mt-1">
                                        <p class="text-danger">Password must be at least 8 characters</p>
                                    </div>
                                    }
                                    <div class="mt-1">
                                        <p class="text-danger">{{passwordValid}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 text-white pb-2">

                                    <h6 class="mb-2 pb-1 fw-bold">Gender </h6>

                                    <div class="form-check form-check-inline text-white fw-bold me-4">
                                        <input formControlName="gender" class="form-check-input checkColor" type="radio"
                                            name="gender" id="femaleGender" value="F" [(ngModel)]="gender"
                                            (click)="resetGender()" />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline text-white fw-bold">
                                        <input formControlName="gender" class="form-check-input checkColor" type="radio"
                                            name="gender" id="maleGender" value="M" [(ngModel)]="gender"
                                            (click)="resetGender()" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>
                                    <div class="mt-1">
                                        <p class="text-danger">{{genderValid}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btnSign btn-block mb-3"
                                    (click)="Update(name.value, email.value, street.value, city.value, +age.value, phone.value)">Update
                                    </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>



    </div>
</div>