@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.products {
    font-size: 3em;
    animation: fadeInAnimation ease 2s;
}
.con{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    min-height:350px;
    background-color: #E1CCBE;
}
.con2{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: #E1CCBE;
}
.add-product-list {
    height: 60vh;
    width: 20vh;
    display: none;
    flex-direction: column;
    z-index: 1000;
    position: fixed;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 20px;
    animation: fadeIn 0.5s ease forwards;
  }
